
.icon-user-outline:before { content: '\e800'; } /* '' */
.icon-megaphone:before { content: '\e801'; } /* '' */
.icon-menu-outline:before { content: '\e802'; } /* '' */
.icon-doc-text:before { content: '\e803'; } /* '' */
.icon-fire:before { content: '\e804'; } /* '' */
.icon-star:before { content: '\e805'; } /* '' */
.icon-phone-outline:before { content: '\e806'; } /* '' */
.icon-gmail:before { content: '\e807'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
